
#target {
  position: absolute;
  left: 700px;
  background: red;
  top: 300px;
  width: 40px;
  height: 40px;
  z-index: 0;
}

#arrowObj {
  position: absolute;
  z-index: 1;
  font-size: 30px;
  font-weight: 900;
  border: solid;
  border-color: black;
}