
#target {
  position: absolute;
  left: 700px;
  top: 300px;
  background: rgba(0,0,0,0);
  width: 150px;
  height: 150px;
  z-index: 0;
}

#arrowObj {
  z-index: 1;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 370px;
  top: 300px;
  width: 100px;
  height: 100px;
  /*border: 3px solid #420690;*/
}