
#target {
  position: absolute;
  left: 700px;
  background: red;
  top: 300px;
  width: 40px;
  height: 40px;
  z-index: 0;
}

#arrowObj {
  z-index: 1;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  left: 370px;
  top: 300px;
  /*border: 3px solid #420690;*/
}